.top {
    flex-direction: row;
    justify-content: space-around;
}
ul {
    list-style: none;

}

.call, .container, .footer, .action-container, .quote, .quotecontainer, .captions,
.gallery, .random-info, .welcome-content, body, ul {
    display: flex;
}

body, .top, .random-info, .quotecontainer, .call {
    flex-direction: column;
}

.header,
ul {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 90px;
    padding: 0px;
    margin-right: 100px;
}

li {
    padding: 8px;
}

body {
    font-family: 'Roboto', Arial;
    margin: 0px;
    color: #F9FAF8;
}

.top {
    display: flex;
    background-color: #1F2937;
}

#logo {
    margin-right: auto;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    margin-bottom: -15px;
}

.welcome-content {
    padding: 80px;
    justify-content: space-around;
}
img {
    max-width: 300px;
    margin-right: 108px;
    margin-left: auto;
}

.welcome-text {
    width: 500px;
    margin-left: 100px;
    flex-wrap: wrap;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 8px 24px 8px 24px;
    border-radius: 15px;
}

.random-info {
    justify-content: flex-start;
    background-color: white;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.gallery {
    justify-content: space-around;
}

.card {
    border: 4px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin: 20px 20px 5px 20px;
  }

.captions {
    margin-bottom: 70px;
}

.sub {
    padding: 0px 8px 0px 8px;
    margin: 0px 8px 0px 8px;
    color: #1f2937;
    width: 158px;
    flex-wrap: wrap
}

.quotecontainer {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: lighter;
    font-size: 36px;
    align-self: stretch;
    margin-top: 20px;
    align-items: center;
}

.quote {
    width: 700px;
    padding: 20px 800px 20px 800px;
    flex-flow: column wrap;
}

#thor {
    font-size: 24px;
    align-self: flex-end;
    margin-top: -30px;
}

.action-container {
    background-color:#3882F6;
    margin: 50px 0px 50px 0px; 
    padding: 40px;
    border-radius: 10px;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
}

.call {
    margin-left: 80px;
}

.container {
    justify-content: center;
    align-items: center;
}

.action-container > button {
    border: 1px solid white;
    margin-right: 80px;
}

.call > h3,
.call > p {
    margin: 0px;
}

.footer {
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
}

