ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
}

.header,
ul {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 90px;
    padding: 0px;
    margin-right: 100px;
}

li {
    padding: 8px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial;
    margin: 0px;
    color: #F9FAF8;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

#logo {
    margin-right: auto;
    font-size: 24px;
}

h1 {
    font-size: 48px;
}

.welcome-content {
    display:flex;
    padding: 80px;
}

img {
    max-width: 300px;
    margin-right: 108px;
    margin-left: auto;
}

.welcome-text {
    width: 600px;
    margin-left: 100px;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 8px 24px 8px 24px;
    border-radius: 15px;
}

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.card {
    border: 4px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin: 20px 20px 5px 20px;
  }

.captions {
    display: flex;
}

.sub {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    color: #1f2937;
    width: 150px;
    height: 150px;
}